<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>After years of working in the restaurant/hospitality field, I've decided to venture out into the world of technology enrolling in an intensive 12-week immersive software development bootcamp in 2019.  Upon completing in 2020, I then accepted a position and started my career as a Junior Web Developer.  My hopes and dreams with gaining this new found knowledge and skills are to implement new technologies to help enhance the way we as people live our lives.</p>
      </div>
    </div>
  </div>
</div>


