<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <br>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: "btn btn-secondary btn-lg" %>
  </p>
</main>